body { background: #cbc4ad; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 41px; display: flex; }
.block-helper-0 { color: #719936; font-size: 19px; margin-bottom: 5px; }
.block-validator-1 { color: #ff3964; font-size: 21px; margin-bottom: 5px; }
.block-validator-2 { color: #330a55; font-size: 20px; margin-bottom: 5px; }
.block-helper-3 { color: #b3558f; font-size: 17px; margin-bottom: 5px; }
.block-search-4 { color: #db3a; font-size: 15px; margin-bottom: 5px; }